{% extends "base.html" %}

{% block title %} Вход {% endblock %}

{% block work %} <h2>Логин:</h2>
    {% if form.errors %}
        <p>
            Bad credentials
        </p>
    {% else %}
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Войти">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <span style="font-size: 28px"><a href="{% url "shortener:register" %}"> Регистрация </a></span>
{% endblock %}
